
    .cardTextContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: 25px;
        width:100%;
        flex-wrap:wrap;
        
    }
    .singleCardContainer{
        width:50%;
        display:flex;
        flex-direction:column;
        margin:0;
    }
    
    .videoTextContainer{
        display:flex;
    }

    .movieHeaderContainer{
        display:flex;
        flex-direction:row-reverse;
    }

    .movieTextContainer{
        display:flex;
        flex-direction:column;
    }