// GLOBAL STYLES

html {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

img {
    display: inline-block;
    height: 250px;
    width: 250px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


video {
    width: 40%;
    height:auto;
}


